
<div class="mt-5 mb-5">
  <input type="text" [(ngModel)]="searchEmail" placeholder="Search by email...">
  <button class="btn btn-primary mx-3" (click)="applyFilter()">Search</button>
  @if(showResetButton){
     <button class="btn btn-danger mx-3" (click)="resetSearch()">Reset</button>
  }

</div>
<div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
  @for(user of filteredUsers ;track user.id){
  <div class="card">
    <img class="card-img-top" [src]="user.image" alt="Profile Picture">
    <div class="card-body">
      <h5 class="card-title">{{ user.username }}</h5>
      <p class="card-text">Email: {{ user.email }}</p>
      <p class="card-text">Phone: {{ user.phone }}</p>
      <i class="fa fa-star"  [ngClass]="{ 'verified': user.is_verified, 'notverified': !user.is_verified }"></i>
    </div>
  </div>
}
</div>


