<section id="portfolio" class="mt-5">
  <div class="container">
    <h2 class="col-md-6 mb-4">Portfolio</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card" style="background-color: rgb(242, 222, 222);">
          <div class="card-body">
            <h5 class="card-title">Web Design</h5>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card" style="background-color: rgb(217, 237, 247);">
          <div class="card-body">
            <h5 class="card-title">Mobile Design</h5>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card" style="background-color: rgb(252, 248, 227);">
          <div class="card-body">
            <h5 class="card-title">Logo Design</h5>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card" style="background-color: rgb(217, 237, 247);">
          <div class="card-body">
            <h5 class="card-title">Web Application Development</h5>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card" style="background-color: rgb(252, 248, 227);">
          <div class="card-body">
            <h5 class="card-title">Mobile Application Development</h5>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card" style="background-color: rgb(217, 237, 247);">
          <div class="card-body">
            <h5 class="card-title">PWA Development</h5>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>